<!DOCTYPE html>
<html>
<head>
    <title>About | PassGuard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/2913/2913133.png">
</head>
<body>

    <nav class="navbar">
        <div class="logo">🔐 PassGuard</div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/check">Checker</a>
        </div>
    </nav>

    <section class="about-container">
        <div class="about-card">
            <h1>About Me</h1>
            <p>
                Hello, I’m AK — an IT Engineering student passionate about 
                cybersecurity, backend development, and building secure systems.
            </p>

            <p>
                I enjoy working with Python, Flask, and security tools.
                My goal is to develop applications that promote digital safety 
                and strengthen authentication practices.
            </p>

            <p>
                This Password Strength Checker project is built to raise awareness 
                about secure password practices and demonstrate backend integration 
                using Python Flask.
            </p>

            <a href="/">
                <button class="back-btn">Back to Home</button>
            </a>
        </div>
    </section>

</body>
</html>